@import '~@style/_variables';

@media #{$tabletDesktop} {
  .ae-waiting-table {
    &::v-deep .data-table__cell {
      &:first-of-type {
        padding-left: 1.25rem;
      }

      &:last-of-type {
        padding-right: 1.25rem;
      }
    }
  }
}

@media #{$mobile} {
  .ae-waiting-table {
    font-size: 0.8125rem;
  }
}

