@import '~@style/_variables';

.bad-pharmacy-card {
  &::v-deep .data-table {
    .data-table__cell {
      &:nth-child(1){
        min-width: 4rem;
      }

      &:nth-child(2) {
        min-width: 3rem;
      }

      &:nth-child(3) {
        min-width: 5rem;
      }
    }
  }
}
