@import '~@style/_variables';

.map-card {
  .column {
    max-height: 440px;
    overflow: auto;
  }
}

.china-epidemic-map {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-table {
  &::v-deep .data-table {
    &__row {
      cursor: pointer;
    }

    &__cell {
      &:first-of-type {
        min-width: 3rem;
      }
    }
  }
}

@media #{$mobileTablet} {
  .map-card .column {
    max-height: initial;

    &--60 {
      margin-bottom: 1rem;
    }
  }
}

// IE svg resize bug
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .map-card .column--60 {
    overflow: hidden;
  }
}
