@import '~@style/_variables';

#rssFeedWall {
  height: 100%;
}

.news {
  margin: -1rem;
}

.rssapp-card-body {
  padding: 1rem;
}

@media #{$mobile} {
  #rssFeedWall h2 {
    padding: 0.25rem;
  }

  .news {
    margin: -1rem  -0.75rem;
  }
}
