@import '~@style/_colors';
@import '~@style/_variables';

.data-table {
  width: 100%;
  display: table;
  color: $color-table-text;

  &--sortable &__head &__cell {
    cursor: pointer;
    position: relative;

    &--sort{
      $triangle-size: 0.25rem;

      &-asc:after, &-desc:after {
        position: absolute;
        top: 50%;
        margin: (($triangle-size / 2) * -1) 0 0 0.1875rem;
        content: " ";
        width: 0;
        height: 0;
        border-style: solid;
      }

      &-asc:after {
        border-width: 0 $triangle-size $triangle-size $triangle-size;
        border-color: transparent transparent $color-table-arrow transparent;
      }

      &-desc:after {
        border-width: $triangle-size $triangle-size 0 $triangle-size;
        border-color: $color-table-arrow transparent transparent transparent;
      }
    }
  }

  &__head {
    display: table-row;
    color: $color-table-head-text;
    font-weight: bold;
  }

  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
    padding: 0.5rem 0.75rem;

    &:first-of-type {
      padding-left: 1.25rem;
    }

    &:last-of-type {
      padding-right: 1.25rem;
    }

    &--left {
      text-align: left;
    }

    &--center {
      text-align: center;
    }

    &--right {
      text-align: right;
    }
  }

  &--odd-highlight {
    .data-table__row:nth-child(odd) {
      background-color: $color-white-red;
    }
  }

  &--even-highlight {
    .data-table__row:nth-child(even) {
      background-color: $color-white-red;
    }
  }

  &__no-data {
    padding: 1rem 0.75rem;
    text-align: center;
    color: $color-table-no-data;
  }
}

@media #{$mobile} {
  .data-table {
    font-size: 0.8125rem;

    &__cell {
      padding: 0.5rem;

      &:first-of-type {
        padding-left: 0.75rem;
      }

      &:last-of-type {
        padding-right: 0.75rem;
      }
    }

    &__no-data {
      font-size: 0.8125rem;
    }
  }
}
