@import '~@style/_variables';

.table-card {
  &::v-deep .row {
    overflow: auto;
  }
}

@media #{$tabletDesktop} {
  .table-card .data-table{
    &::v-deep .data-table__cell {
      &:first-of-type {
        padding-left: 1.25rem;
      }

      &:last-of-type {
        padding-right: 1.25rem;
      }
    }
  }
}

@media #{$mobile} {
  .table-card .data-table {
    font-size: 0.8125rem;
  }
}

