$color-white: #ffffff;
$color-black: #000000;

$color-light-grey: #f0f1f3;
$color-mid-grey: #959595;
$color-mid-dark-grey: #4f4f4f;
$color-grey: #2d2d2d;

$color-red: #d54334;
$color-light-red: #cc4c4a;
$color-white-red: #fff8f7;

$color-yellow: #f8d691;
$color-green: #32cf95;

// body
$color-body-background: $color-light-grey;
$color-text: $color-grey;
$color-secondary-text: $color-mid-grey;

// Header
$color-header-text: $color-white;
$color-header-mobile-text: $color-red;
$color-header-background: $color-red;
$color-header-mobile-background: $color-white;

// ul, ol
$color-list-bullet: $color-red;
$color-list-text: $color-mid-dark-grey;

// Component - Loading
$color-loading-spinner: rgba($color-grey, 0.4);

// Component - Card
$color-card-text: $color-grey;
$color-card-background: $color-white;
$color-card-shadow: rgba($color-black, 0.085);

// Component - Table
$color-table-arrow: $color-red;
$color-table-text: $color-red;
$color-table-head-text: $color-mid-dark-grey;
$color-table-odd-background: $color-white-red;
$color-table-no-data: $color-mid-grey;
$color-pagination-link: $color-red;
$color-pagination-link-disabled: $color-mid-grey;

// Component - Statistics
$color-statistic-red: $color-light-red;
$color-statistic-yellow: $color-yellow;
$color-statistic-green: $color-green;
$color-statistic-grey: $color-grey;

// Component - news
$color-news-title: $color-grey;
$color-news-description: $color-mid-dark-grey;
$color-news-info: $color-mid-grey;
