.row {
  flex: auto;
  display: flex;
  flex-direction: row;
  margin: 0 -0.5rem;

  & + & {
    margin-top: 1rem;
  }
}

.column {
  box-sizing: border-box;
  align-content: stretch;
  padding: 0 0.5rem;

  &--no-padding {
    padding: 0 !important;
  }

  $max: 100;
  $step: 5;
  @for $i from 0 through ($max/$step) {
    $width: $i * $step;
    &--#{$width} {
      flex: 0 1 $width + 0%
    }
  }

  &--33 {
    flex: 0 1 33.333333333%
  }
}

@media #{$mobileTablet} {
  .row {
    flex-wrap: wrap;
  }

  .column {
    flex: 0 1 100%;

    $max: 100;
    $step: 5;
    @for $i from 0 through ($max/$step) {
      $width: $i * $step;
      &--#{$width} {
        flex: 0 1 100%
      }
    }
  }
}
