h1, h2, h3, h4, h5, h6 {
  &:first-child {
    margin-top: 1rem;
  }
}

h1 {
    font-size: 1.75em;
    line-height: 1.2em;
    margin: 1.516em 0 0.75em 0;
}

h2 {
    font-size: 1.5em;
    line-height: 1.3em;
    margin: 1.7em 0 0.85em 0;
}

h3 {
    font-size: 1.375em;
    line-height: 1.3em;
    margin: 1.8em 0 0.9em 0;
}

h4 {
    font-size: 1.25em;
    line-height: 1.4em;
    margin: 2em 0 1em 0;
}

h5 {
    font-size: 1.125em;
    line-height: 1.5em;
    margin: 2.2em 0 1.1em 0;
}

h6 {
    font-size: 1em;
    line-height: 1.5em;
    margin: 2.5em 0 1.25em 0;
}
